mixin footer()
  .footer(class=attributes.class)
    .footer__main
      .footer__logo
        a.footer__logo-link(href="#")
          +icon('icon-logo-inverse', {width: 131, height: 38}).icon_block
      .footer__copy © 2019 — Портал ЖК
      a.footer__partner(href='#') NOTAMEDIA
