mixin user-made(item)
  .user-made(class=attributes.class)
    .user-made__wrapper
      .user-made__image
        img(src=item.image)
      .user-made__content
        .user-made__heading
          .user-made__name=item.title
          if item.rating
            .user-made__rating
              +rate(item.rating)
        .user-made__activity
          .user-made__activity-item
            .user-made__activity-date 12 мая 2019
            .user-made__activity-text — Замена лампочки в подъезде
          .user-made__activity-item
            .user-made__activity-date 05 июня
            .user-made__activity-text — Организация голосования
