mixin menu()
  .menu(class=attributes.class)
    .menu__list
      a.menu__item(href='#') Помощь
      a.menu__item(href='#') Сферы
      a.menu__item(href='#').menu__item_current События
      a.menu__item(href='#') Группы
      a.menu__item(href='#') Документы
      a.menu__item(href='#') Оплата ЖКХ
      a.menu__item(href='#') Жители
      a.menu__item(href='#') Новости
      a.menu__item(href='#') Список должников

