* {
  box-sizing: border-box;
}

svg,
use {
  pointer-events: none;
}

.load * {
  transition: none !important;
}

body {
  background-color: $background;
  color: $baseColor;
  margin: 0;
  font-family: $fontTTNorms;
  font-size: $fontSize;
  line-height: $fontLineHeight;
  -webkit-font-smoothing: antialiased;
  min-width: 1280px;
}

.not-integrated-light,
.not-integrated {
  position: relative;

  &::after {
    content: '';
    padding-top: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    z-index: 10;
    display: flex;
    justify-content: center;
    color: $baseColor;
    box-sizing: border-box;
  }
}

.not-integrated {
  &::after {
    content: 'Блок в стадии разработки';
  }
}

.loader {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
    z-index: 11;
  }

  &::before {
    top: 50%;
    left: 50%;
    margin: -22px 0 0 -22px;
    width: 36px;
    height: 36px;
    border: 4px solid;
    border-radius: 50%;
    border-color: transparent $green $green;
    z-index: 12;
    animation: loader-spin 1s infinite linear;
  }

  &::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($white, .8);
  }
}

@keyframes loader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
